
.notifbox{
position: fixed;
padding: 10px;
border-radius: 10px;
background-color: white;
box-shadow: 0px 10px 50px rgba(0,0,0,0.5);
width: 400px;
display: block;
bottom: 0;
right: 0;
margin: 20px;
z-index: 100;
transition: 1s all;
animation-name: shownotif;
animation-duration: 1s;
display: none;
}
@keyframes shownotif{
0%{
	margin-right: -700px;
}
}
